<div class="campaign-container">
  <form class="form-signin" method="POST" action="/app/campaign/{{cmpid}}/event/{{evid}}/send">
    <div class="text-center mb-4">
      <h1 class="h3 mb-3 font-weight-normal dungeon-tittle"><b>Un Aventurero Responde</b></h1>
    </div>

    <div class="form-label-group campaign-form">

      <div class="alert alert-secondary" role="alert">
        Si deseas interactuar con un evento deberás seleccionar que aventurero está haciendo la acción y la acción en sí.
      </div>

      <select id="adventurer_name" name="adventurer_name" class="form-control">
        <option disabled selected value="0">El Aventurero</option>
        {{#each adv}}
        <option value="{{name}}">{{name}}</option>
        {{/each}}
      </select>
    </div>
    <br>
    <div class="form-label-group campaign-form">
      <input type="text" name="description" id="description" row="5" class="form-control"
        placeholder="Acción del aventurero">
      <label for="description">Describe la acción que tomará el aventurero</label>
    </div>
    <br>

    <button class="btn btn-lg btn-primary btn-block camp-btn confirm-btn" type="submit">Crear</button>
  </form>
</div>