<div class="container">
    <div class="jumbotron jumbotron-fluid bestiary-header">
        <div class="container">
            <h1 class="display-4">Las bestias merodean en el mundo...</h1>
            <p class="lead">Saber que criaturas se encuentran en el viaje es vital para que tanto jugadores como
                directores puedan moverse por la tierra en busca de cumplir misiones...</p>
        </div>
    </div>

    <div id="accordion">

        {{#each beasts}}
        <div class="card">
            <div class="card-header module" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link text-module" data-toggle="collapse" data-target="#collapseOne"
                        aria-expanded="true" aria-controls="collapseOne">
                        {{name}}
                    </button>
                </h5>
            </div>

            <div class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <a href="/app/bestiary/{{index}}"><button type="button" class="btn btn-link linko">Revisar las
                            estadísticas de {{name}}</button></a>
                </div>
            </div>
        </div>
        <br>
        {{/each}}

    </div>
</div>