<div class="campaign-container">
  <form class="form-signin" method="POST" action="create-campaign">
    <div class="text-center mb-4">
      <h1 class="h3 mb-3 font-weight-normal dungeon-tittle"><b>Hora de crear tu aventura...</b></h1>
    </div>

    <div class="form-label-group campaign-form">
      <input type="text" name="name" id="inputDesc" class="form-control" placeholder="Name">
      <label for="inputName">Nombre de Campa침a</label>
    </div>

    <div class="form-label-group campaign-form">
      <input type="text" name="description" id="inputDesc" row = "5" class="form-control" placeholder="Description">
      <label for="inputDesc">Descripci칩n de Campa침a</label>
    </div>

    <div class="form-label-group campaign-form">
      <input type="text" name="img_url" id="img_url" row = "5" class="form-control" placeholder="https://pbs.twimg.com/media/Dh6eMG6W0AEZ4Jl.jpg">
      <label for="img_url">Agregar una portada para la campa침a (URL de imagen)</label>
    </div>

    <br>
    <button class="btn btn-lg btn-primary btn-block camp-btn confirm-btn" type="submit">Crear</button>
  </form>
</div>
