<main role="main" class="container">
  <div class="starter-template">

    <div class="card mb-3 module">
          <img src="https://i.pinimg.com/originals/53/34/48/533448950eafe63c73092ee248fba0b8.jpg" class="card-img-top" alt="...">
          <div class="card-body" style="margin-bottom: 1rem;">
            <h5 class="card-title text-module"><b>{{event.name}}</b></h5>
            <p class="card-text text-module">{{event.description}}</p>
            <a href="/app/campaign/1/event/1/create-form" class="card-link text-module"><i>¿Qué harán nuestros heroés?</i></a>
            <a href="/app/campaign/1" class="card-link text-module"><i>¿Nos habrán abandonado?</i></a>
          </div>
    </div>

    {{#each responses.responses}}
      <div class="card module">
        <div class="card-header text-module">
            <b>{{title}}</b>
        </div>
        <div class="card-body text-module">
          <blockquote class="blockquote mb-0">
            <footer class="blockquote-footer text-module">Un aventurero ha decidido actuar...</footer>
            <p>{{description}}</p>
          </blockquote>
        </div>
      </div>
      <br>
    {{/each}}

  </div>
</main>
