<div class="campaign-container">
  <form class="form-signin" method="POST" action="/app/dashboard/{{cmpid}}/crevent">
    <div class="text-center mb-4">
      <h1 class="h3 mb-3 font-weight-normal dungeon-tittle"><b>¡Un Suceso Ocurre!</b></h1>
    </div>

    <div class="form-label-group campaign-form">
      <input type="text" name="name" id="inputName" class="form-control" placeholder="Evento">
      <label for="inputName">Título del Evento</label>
    </div>

    <div class="form-label-group campaign-form">
      <input type="text" name="description" id="inputDesc" row="5" class="form-control"
        placeholder="Un evento ha sucedido...">
      <label for="inputDesc">Descripción del Evento</label>
    </div>

    <div class="form-label-group campaign-form">
      <input type="text" name="img_url" id="img_url" row="5" class="form-control"
        placeholder="https://pbs.twimg.com/media/Dh6eMG6W0AEZ4Jl.jpg">
      <label for="img_url">Agregar una imagen para el evento (URL de imagen)</label>
    </div>

    <br>
    <button class="btn btn-lg btn-primary btn-block camp-btn confirm-btn" type="submit">Crear</button>
  </form>
</div>