<main role="main" >
  <h3><b>El Continente</b></h3>
  <div class="starter-template container">

    <a href="/app/campaign/1/event/1" id="event">
    <img src = "https://cdn3.iconfinder.com/data/icons/basic-filled/80/09_BO_POI_1-512.png" alt="event" id = "event"  />
    </a>
  </div>
  <footer content="width=device-width, initial-scale=1.0 bg-dark" class="page-footer">
    <a href = "/app/campaign/1/event-form"><button type="button" class="btn btn-primary map-btn">Añadir nuevo evento</button></a>
    <a href = "/app/campaign/1/player-form"><button type="button" class="btn btn-primary map-btn">Añadir Jugador</button></a>
    <a href = "/app/campaign/1/answer-view"><button type="button" class="btn btn-primary map-btn">Ver Respuestas</button></a>
  </footer>

</main>

<style type="text/css">
  html{
    background-color: #fcfcfc;
  }

  h3{
    font-family: 'Nunito', sans-serif;
    margin-left: 3%;
  }
  .container{
    padding: 0;
    background: transparent url("https://i.imgur.com/CLAraKd.jpg") no-repeat scroll;
    position:absolute;
    min-width: 1250px;
    width:100%;
    max-width: 1920px;
    height:77%;
    max-height: 1080px;
    background-position: center;
    background-color: #fcfcfc;

    
  }
  #event{
    width: 60px;
    height:50px;
    position: absolute;
    color: white;
    left: 50%;
    top: 50%
  }
  footer{
    position: absolute;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #8e7cc3;
  }
  .map-btn{
      background-color: #674ea7;
      border: #674ea7;
      margin-left: 43%;
    }
</style>