<div class="campaign-container">
  <form class="form-signin" method="POST" action="/app/campaign/{{cmpid}}/player-invite">
    <div class="text-center mb-4">
      <h1 class="h3 mb-3 font-weight-normal dungeon-tittle"><b>Un Nuevo Aventurero se Une</b></h1>
    </div>
    {{#if playerError}}
      <div class="alert alert-danger campaign-form">
        {{playerError}}
      </div>
    {{/if}}
    <div class="form-label-group campaign-form">
      <div class="alert alert-secondary" role="alert">
        Para invitar a un juagdor a tu campaña deberás de ingresar su identificador, único para cada jugador de Dungeon Companion. Este identificador se puede encontrar en la sección de "Cuenta" y se parece a este <b>(-M7kBfzYOQtnD_84i9MV)</b>
      </div>
      <br>
      <input type="text" name="id" id="inputID" class="form-control" placeholder="Código de ID">
      <label for="inputDesc">ID del Jugador</label>
    </div>
    <br>
    <button class="btn btn-lg btn-primary btn-block camp-btn confirm-btn" href="/app/campaign/{{id}}" type="submit">Invitar</button>
  </form>
</div>